#gitignore files

#ignore pycaches
*.pyc

*.zip

/mysite/mysite/django_cname.txt
/mysite/kyball/db_access_info.txt

/Scripts/tf/*
!/Scripts/tf/*.tf

/Scripts/eb_tf/*
!/Scripts/eb_tf/*.tf
!/Scripts/eb_tf/*.py