<!DOCTYPE html>
<html>
<title>Kyball</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
{% load static %}
<link rel="stylesheet" href="{% static 'kyball/color.css' %}">
<body>

<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none; color: #004466" id="mySidebar">
  <h1 class="w3-xxxlarge" style="color: #004466;">Side Navigation</h1>
  <a href="#myHeader" class="w3-bar-item w3-button">Top</a>
  <a href="#Main_app" class="w3-bar-item w3-button">Main App</a>
  <button class="w3-bar-item w3-button" onclick="w3_close()">Exit<i class="fa fa-remove"></i></button>
</nav>

<!-- Header -->
<header class="w3-container w3-padding" id="myHeader" style="background-color: #004466; font-family: Garamond;">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button" style="color: white; background-color: #004466; border-radius: 10px;"></i> 
  <div class="w3-center" style="color: white; font-family: Garamond;">
  <h4 style="font-family: Garamond;"><i>Kyball</i></h4>
  <h1 class="w3-xxxlarge w3-animate-bottom" style="color: white; font-family: Garamond;">Legends of Baseball</h1>
    <div class="w3-padding-32">
      <button class="w3-btn w3-xlarge w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900; background-color: #004466; border-radius: 10px; font-family: Garamond;">What is this?</button>
    </div>
  </div>
</header>

<!-- Modal -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
      <header class="w3-container" style="color: white; background-color: #004466;"> 
        <span onclick="document.getElementById('id01').style.display='none'"
        class="w3-button w3-display-topright">×</span>
        <h4>Kyball</h4>
      </header>
      <div class="w3-padding">
        Kyball is a simple application that allows a user to query a database for information on baseball players. The real triumph, however, lies in the supporting infrastructure. The entire project (website, application, database, etc) can be turned on/off with one single command and is hosted entirely in the cloud. For those interested, read more in Behind the Scenes.
      </div>
      <footer class="w3-container" style="color: white; background-color: #157;">
        <p>Special thanks to the <a href="http://www.seanlahman.com/baseball-archive/statistics/">Lahman Database</a> and Gibbs Consulting for the <a href="https://github.com/GibbsConsulting/django-plotly-dash">django-plotly-dash</a> project which was utilized in this application.</p>
      </footer>
    </div>
</div>

<div class="w3-row-padding w3-center w3-margin-top">
</div>

{% load static %}
{% load plotly_dash %}
<link rel="stylesheet" type="text/css" href="{% static 'kyball/style.css' %}">
<style> 
#myDIV {
  position: relative;
  width: 105%;
/*  height: 200px;*/
  /*z-index: 15;*/
  top: 5%;
  /*left: 25%;*/
 /* margin: -100px 0 0 -150px;*/
  /*background: green;*/
}
</style>
<div class="w3-half">
	<div class="w3-container">
		Enter the name of a baseball player.
		<br><br><br><br>
		Use the form "Babe Ruth", i.e., no middle names.
		<br><br><br><br>
		The graph will update to show runs per year for that player.
		<br><br><br><br>
		More functionality to come soon...
		<br><br><br><br>
		Enjoy!
		<br>
		<br>
	</div>
</div>
<div class="w3-half" id="Main_app">
	<div class="w3-container">
		<div id=myDIV align="center">
		{%plotly_app name="kyball_graph" ratio=0.65%}
		</div>
	</div>
</div>

<div class="w3-container">
<hr>
<div style="font-family: Garamond;">
  <center>
    <h1><em>Behind the Scenes</em></h1>
  </center>
</div>
<div class="w3-row w3-border">
  <div class="w3-half w3-container">
    <img src="{% static 'kyball/images/diagram_with_numbers.png' %}" class="responsive">
    <br>
    Main tools used for this project:
    <ul>
      <li>AWS</li>
      <li>Terraform</li>
      <li>Django</li>
      <li>Plotly Dash</li>
      <li>Python</li>
      <li>HTML/CSS</li>
      <li>Pytest</li>
      <li>Jenkins</li>
    </ul>
  </div>
  <div class="w3-half w3-container"> 
      <ol>
        <li>
          Git pull from <a href="https://github.com/Kylexi/Kyball">source</a>.
        </li>
        <li>
          Python script executes Terraform commands, e.g., "terraform init", "terraform apply", etc. This portion of the infrastructure is where the single, on-off command lies. A single shell command ("python deploy.py") will provision and connect all the necessary components henceforth. See the README in the git source if you'd like to explore doing this yourself.
        </li>
        <li>
          Terraform config files provision an EC2 instance, RDS MySQL DB instance, Elastic Beanstalk environment/application, Route 53 records, and standard security-group/permissions fix-ins to minimize unneeded access to all resources.
        </li>
        <li>
          EC2 instance uses bash scripts and <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/user-data.html">user data</a> to write baseball data from csv files (contained in the git repo) to MySQL DB and then terminates. This is so you don't have to pay for the DB to keep it running all the time!
          
        </li>
        <li>
          Once the Beanstalk environment and application are provisioned, a Python script communicates the CNAME of the environment (only available <i>after</i> provisioned) from Terraform to Django's settings.py file, dynamically updating the ALLOWED_HOSTS. See this <a href="https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create-deploy-python-django.html#python-django-deploy">tutorial</a> to see what is being automated here.
          
        </li>
        <li>
          The Plotly app within the Django framework establishes a connection to the RDS DB in a similar, dynamic way. A Python script communicates the address of the RDS instance to Plotly after it has been provisioned. This allows for the player querying in the app.
          
        </li>
        <li>
          Lastly, the entire application becomes publicly accessible via Route 53 mapping the Elastic Beanstalk app to a fixed domain name via alias records. 
          
        </li>
      </ol>
  </div>
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-padding-16" style="background-color: #004466; font-family: Garamond; font-size: 16px">
  <h3>About</h3>
  <p>Kylexi: <a href="https://github.com/Kylexi/Kyball" target="_blank">GitHub</a></p>
  <div style="position:relative;bottom:55px;" class="w3-tooltip w3-right">
    <span class="w3-text w3-theme-light w3-padding">Go To Top</span>    
    <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<!-- Script for Sidebar, Tabs, Accordions, Progress bars and slideshows -->
<script>
// Side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "100%";
  x.style.fontSize = "40px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Tabs
function openCity(evt, cityName) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  var activebtn = document.getElementsByClassName("testbtn");
  for (i = 0; i < x.length; i++) {
    activebtn[i].className = activebtn[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-dark-grey";
}

var mybtn = document.getElementsByClassName("testbtn")[0];
mybtn.click();

// Accordions
function myAccFunc(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// Slideshows
var slideIndex = 1;

function plusDivs(n) {
  slideIndex = slideIndex + n;
  showDivs(slideIndex);
}

function showDivs(n) {
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}

showDivs(1);

// Progress Bars
function move() {
  var elem = document.getElementById("myBar");   
  var width = 5;
  var id = setInterval(frame, 10);
  function frame() {
    if (width == 100) {
      clearInterval(id);
    } else {
      width++; 
      elem.style.width = width + '%'; 
      elem.innerHTML = width * 1  + '%';
    }
  }
}
</script>

</body>
</html>